@page "/admin/adminbooks/edit/{id:long}"
@page "/admin/adminbooks/create"
@inherits OwningComponentBase<IBookstoreRepository>

<style>
    div.valiation-message {color: rgb(220,53,69); font-weight:500}
</style>

<h3 class="bg-@ThemeColor text-white text-center p-1">@TitleText a Book</h3>

<EditForm Model="b" OnValidSubmit="SaveBook">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    @if (b.BookId != 0)
    {

    }

</EditForm>

@code {
    [Parameter]
    public long Id { get; set; } = 0;

    public string ThemeColor => Id == 0 ? "primary" : "warning";
    public string TitleText => Id == 0 ? "Create" : "Edit";

    public Book b { get; set; } = new Book();

    public IBookstoreRepository repo => Service;

    protected override void OnParametersSet()
    {
        if (Id != 0) //Existing book
        {
            b = repo.Books.FirstOrDefault(x => x.BookId == Id);
        }
    }

    public void SaveBook()
    {
        if (Id ==0) //New Book
        {
            repo.CreateBook(b);
        }
        else
        {
            repo.SaveBook(b);
        }
    }

    [Inject]
    public NavigationManager NavManager { get; set; }


}
