@page "/admin"


@model Bookstore.Pages.Admin.IndexModel
@{
}

<!DOCTYPE html>

<html>
   
    <head>
        <title>Bookstore Admin</title>
        <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
        <base href="/" />
    </head>

    <body>
        <p>Testing</p>
    </body>



</html>
